/* @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap"); */
@tailwind base;
@tailwind components;
@tailwind utilities;


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  display: flex;
}

*,
body {
  box-sizing: border-box;
  /* background-color: #000; */
  font-family: Monospace;
}

.recharts-legend-item-text {
  display: none;
}

.oswald-custom {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-optical-sizing: auto;
  font-style: normal;
}

/* src/index.css */
.text-stroke {
  -webkit-text-fill-color: transparent; /* For Safari */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff; /* Adjust stroke color */
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}